<div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-6">
      <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <h4 class="text-center">
          Restablecer contraseña
          <i class="fas fa-unlock-alt mt-5 mb-3"></i>
        </h4>
        <p class="text-center">Introduce la dirección de correo electrónico que usaste para registrarte. <br>  Te enviaremos un correo electrónico con un enlace para restablecer tu contraseña.</p>
        <label> Correo Electrónico </label>
        <input type="mail" class="form-control mb-2"
               id="inputEmail" autofocus
               formControlName="email">
        <hr>
        <button type="submit" class="btn btn-success w-100 float-right" [disabled]="!resetPassForm.valid"> ENVIAR </button>
      </form>
    </div>
    <div class="col col-md"></div>
  </div>
