<div style="text-align:center">
  <h1>Bienvenido a C<i class="fas fa-user-circle mt-5 mb-3"></i>NTACTME</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <a routerLink="/contacts" style="text-decoration: none">
      <div class="bg-dark rectangle">
        <i class="fas fa-users fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Lista de Contactos </p>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <a routerLink="/addContact" style="text-decoration: none">
      <div class="bg-secondary rectangle">
        <i class="fas fa-user-plus fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Añadir Nuevo Contacto </p>
      </div>
    </a>
  </div>
</div>
