<div style="text-align:center">
  <h1>Bienvenido a C<i class="fas fa-user-circle "></i>NTACTME</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <a routerLink="/contacts" style="text-decoration: none">
      <div class="bg-dark rectangle">
        <i class="fas fa-users fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Contactos </p>
      </div>
    </a>
  </div>
  <!-- <div class="col-md-3">
    <a routerLink="/courses" style="text-decoration: none">
      <div class="bg-secondary rectangle">
        <i class="fas fa-graduation-cap fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Cursos </p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a routerLink="/home" style="text-decoration: none">
      <div class="bg-dark rectangle">
        <i class="fas fa-book fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Asignaturas </p>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a routerLink="/home" style="text-decoration: none">
      <div class="bg-secondary rectangle">
        <i class="fas fa-clipboard-list fa-3x text-shadow"></i>
        <p class="text-shadow" style="font-size: 24px; padding-top: 15px"> Calificaciones </p>
      </div>
    </a>
  </div> -->
</div>
